<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tx.springboot_thymeleaf.dao.IThyDao">
    <select id="selUserName" resultType="string">
        select name from t_student where code =#{code} and pwd =#{pwd}
    </select>
    <select id="selAllStu" resultType="student">
        SELECT * FROM `t_student`
    </select>
    <select id="selRecByStu" resultType="record">
        SELECT r.`createBy` AS  createBy,r.`des` AS des,r.`Rewards` AS `Rewards`,s.`name` AS stuname FROM `t_record` AS r
JOIN `t_student` AS s
ON s.`code`=r.`stuCode`
 WHERE r.`stuCode` =#{id}
    </select>
    <select id="selAllRecord" resultType="record">
SELECT r.`id` AS id,r.`createBy` AS  createBy,r.`createDate` AS `createDate`,r.`des` AS des,r.`Rewards` AS `Rewards`,s.`name` AS stuname FROM `t_record` AS r
JOIN `t_student` AS s
ON s.`code`=r.`stuCode`
    </select>
    <delete id="delRecord">
        DELETE FROM `t_record` WHERE `id` =#{did}
    </delete>
</mapper>    