<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/c/addRecord" method="post">
    <p>奖惩记录：</p>
    <input type="text" name="rewards">
    <p>奖惩对象：</p>
    <select name="">
        <option value="1">张三</option>
        <option value="2">李四</option>
        <option value="3">王五</option>
        <option value="4">赵六</option>
        <option value="5">嗷嗷</option>
        <option value="6">飞飞</option>
        <option value="7">zz</option>
    </select>

</form>
</body>
</html>